:root {
  --color-white: hsl(0, 0%, 100%);
  --color-offwhite: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --Purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-offwhite);
}

.content {
  background-color: var(--color-white);
  padding: 50px;
  margin: 0 20px;
  border-radius: 20px 20px 130px 20px;
}

.container-for-header {
  display: flex;
  margin-bottom: 50px;
}

.data {
  display: block;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  color: var(--smokey-grey);
}

.inputs {
  padding: 10px;
  width: 50%;
  min-width: 80px;
  border-radius: 5px;
  border: 2px solid var(--light-grey);
  cursor: pointer;
}

.inputs::placeholder {
  color: var(--smokey-grey);
  font-weight: bold;
  font-size: 20px;
}

.div-for-button {
  margin-top: 30px;
  position: relative;
  height: 50px;
  border-top: 2px solid var(--light-grey);
}

button {
  position: absolute;
  right: 0;
  top: -32px;
  background-color: var(--Purple);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--off-black);
}

.div-for-data p {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.inputs.valid {
  border: 1px solid red;
}

button > img {
  width: 50px;
  height: 50px;
}

.data.valid,
.day-paragraph.active,
.month-paragraph.active,
.year-paragraph.active {
  color: red;
  font-weight: 100;
}

#calculated-day,
#calculated-month,
#calculated-year {
  color: var(--Purple);
}

@media screen and (max-width: 767px) {
  button {
    right: 45%;
  }
}
